.center {
  text-align: center;
}

.main {
  height: 450px;
  width:auto;
  background: silver;
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: azure;
  height: 400px;
  width: 250px;
  margin-top: 15px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.title {
  text-align: center;
}
.description {
  text-align: center;
  padding: 10px;
}
.button-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-box> a {
  background: aquamarine;
  height: 50px;
  width: 150px;
  text-align: center;
  line-height: 50px;
  vertical-align: center;
  text-decoration: none;
}

.button-box> a {
  display: block;
}
.fa-star {
  font-size: 40px;
}
.fa-location-pin {
  font-size: 40px;
}
.fa-fire-flame-curved {
  font-size: 40px;
}
.fa-earth-americas {
  font-size: 40px;
}