* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: silver;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.First {
    background: sandybrown;
    width: 380px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*font-size: 30px;*/
}

.Second {
    width: 380px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.box {
    background: blueviolet;
    height: 200px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.Third {
    background: sandybrown;
    width: 380px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
}


